.contenedor{
	
    background-color: white;
	display:flex;
	
	/*text-align: center;*/ /*no centra de la forma que necesito*/
	border-style: solid ;
    justify-content:space-between ;
   
}

.caja1{
	background-color: red;
	width: 100px;
	height: 100px;
	margin: 0px;
	font-size: 20px;
	color:white;
	display:flex;
	justify-content:center;  /*centra en eje x*/
	align-items: center; /*centra en eje y*/
}

.caja2{
	background-color: blue;
	width: 100px;
	height: 100px;
	margin: 0px;
	font-size: 20px;
	color:white;
	display:flex;
	justify-content:center;  /*centra en eje x*/
	align-items: center; /*centra en eje y*/

}

.caja3{
	background-color: green;
	width: 100px;
	height: 100px;
	margin: 0px;
	font-size: 20px;
	color:white;
	display:flex;
	justify-content:center;  /*centra en eje x*/
	align-items: center; /*centra en eje y*/
	
}

