body{
  font-family:'open sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.holder{
  max-width: 960px;
  margin: 0 auto;
}

h2{
  color:blue;
  font-weight: 400;
  margin: 0 0 1em;
}


.left{
  float: left;
}

.right{
  float: right;
}