.amarillo{
    background-color: yellow;
    width: 100px;
    height: 100px;
}
.verde{
    background-color: green;
    width: 100px;
    height: 100px;
}
.azul{
    background-color: blue;
    width: 100px;
    height: 100px;
}
